@font-face {
font-family: 'Geomanist';
    src:
        url('../fonts/geomanist-regular-webfont.woff2') format('woff2'),
        url('../fonts/geomanist-regular-webfont.woff') format('woff'),
        url('../fonts/geomanist-regular-webfont.ttf')  format('truetype'),
        url('../fonts/geomanist-regular-webfont.svg')  format('embedded-opentype'),
        url('../fonts/geomanist-regular-webfont.eot')  format('svg');
    font-weight: 400;
}

@font-face {
font-family: 'Boomshell';
    src:
        url('../fonts/boomshell-font.ttf')  format('truetype');
    font-weight: 400;
}